mixin cards
    .cards
        .cards__wrap
            .cards__card
                .cards__card-image
                    img(src="static/img/content/avocado.svg" alt="")
                .cards__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ultricies risus. Donec non eros non ante dapibus faucibus sed a metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget malesuada diam. Ut molestie odio sed consequat ultrices. Pellentesque lacus ex, feugiat et libero quis, tincidunt posuere dui. Cras sed pulvinar nisl. Maecenas ultrices massa quam, a vestibulum tortor dictum maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tempor ultrices suscipit. Aenean et massa in eros viverra porta nec a ligula. Morbi bibendum magna sit amet est ornare, at venenatis turpis fringilla. Etiam eget ligula erat.

            .cards__card
                .cards__card-image
                    img(src="static/img/content/avocado.svg" alt="")
                .cards__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ultricies risus. Donec non eros non ante dapibus faucibus sed a metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget malesuada diam. Ut molestie odio sed consequat ultrices. Pellentesque lacus ex, feugiat et libero quis, tincidunt posuere dui. Cras sed pulvinar nisl. Maecenas ultrices massa quam, a vestibulum tortor dictum maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tempor ultrices suscipit. Aenean et massa in eros viverra porta nec a ligula. Morbi bibendum magna sit amet est ornare, at venenatis turpis fringilla. Etiam eget ligula erat.
            .cards__card
                .cards__card-image
                    img(src="static/img/content/avocado.svg" alt="")
                .cards__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ultricies risus. Donec non eros non ante dapibus faucibus sed a metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget malesuada diam. Ut molestie odio sed consequat ultrices. Pellentesque lacus ex, feugiat et libero quis, tincidunt posuere dui. Cras sed pulvinar nisl. Maecenas ultrices massa quam, a vestibulum tortor dictum maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tempor ultrices suscipit. Aenean et massa in eros viverra porta nec a ligula. Morbi bibendum magna sit amet est ornare, at venenatis turpis fringilla. Etiam eget ligula erat.
            .cards__card
                .cards__card-image
                    img(src="static/img/content/avocado.svg" alt="")
                .cards__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ultricies risus. Donec non eros non ante dapibus faucibus sed a metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget malesuada diam. Ut molestie odio sed consequat ultrices. Pellentesque lacus ex, feugiat et libero quis, tincidunt posuere dui. Cras sed pulvinar nisl. Maecenas ultrices massa quam, a vestibulum tortor dictum maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tempor ultrices suscipit. Aenean et massa in eros viverra porta nec a ligula. Morbi bibendum magna sit amet est ornare, at venenatis turpis fringilla. Etiam eget ligula erat.
            