$theme-name: 'theme_cold';

//common
$primary-text: #313131;
$primary-fill: red;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #313131;
$secondary-title: #fff;
$primary-title-decor: #FCD5E8;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-height: 56px;
$header-bg: #fff;
$header-scroll-bg: #141318;
$header-shadow: none;
$header-padding: 14px 0;
$header-logo-width: 80px;
$header-link-fs-sm: 16px;
$header-link-fs-md: 18px;
$header-link-color: red;
$header-link-hover: green;
$header-link-gap: 0 15px;
$header-link-fw: 600;
$header-burger-color: #000;
$header-burger-background: #fff;
$header-burger-h: 3px;
$header-burger-w: 30px;
$header-burger-gap: 4px 0;

