$theme-name: 'theme_components';

//common
$primary-text: #fff;
$primary-fill: #161616;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #fff;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #fff;
$header-bd: none;
$header-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$header-color: #161616;
$header-color-hov: red;
$burger-line: #161616;

//form
$form-input-bd: #fff;
$form-input-placeholder: #fff;


//footer
$footer-bg: #FFF;
$footer-bd: #EDF2F5;
$footer-color: #353535;
$footer-link-color: #353535;
$footer-link-color-hov: #353535;
$footer-input-btn: #fff;
$footer-input-btn-hov: #1539CF;
