mixin header()
    header.header
        .w-center
            nav.header_nav
                a(href='index.html').header_logo
                    img(src="static/img/content/logo.svg" alt="logo")
                input#menu-toggle(type='checkbox')
                label.header_menu-icon(for='menu-toggle')
                    span
                    span
                    span
                ul.header_menu
                    li
                        a(href='#') Home
                    li
                        a(href='#') Skills
                    li
                        a(href='#') Projects
                    li
                        a(href='#') Connect