body {
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    @include respond-from(to-sm) {
        font-size: $font-size-xs;
    }

    font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 {
    font-size: $font-size-h1;
    font-weight: 500;
    color: $primary-title;
    text-align: center;

    @include respond-from(sm) {
        font-size: $font-size-h1-sm;
        line-height: 36px;
    }

    @include respond-from(lg) {
        font-size: $font-size-h1-lg;
        line-height: 56px;
    }
}
h2 {
    font-size: $font-size-h2;
    color: $primary-title;
    text-align: center;

    @include respond-from(sm) {
        font-size: $font-size-h2-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h2-lg;
    }
}
h3 {
    font-size: $font-size-h3;

    @include respond-from(sm) {
        font-size: $font-size-h3-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h3-lg;
    }
}
p {
    line-height: 24px;
}

.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}

//--------------------------------------------------GAPS----------------------------------------------//

.w-gap {
    margin-top: 30px;

    @include respond-from(md) {
        margin-top: 50px;
    }
}

.w-gap-sm {
    margin-top: 20px;

    @include respond-from(md) {
        margin-top: 25px;
    }
}

.w-gap-md {
    margin-top: 25px;

    @include respond-from(md) {
        margin-top: 30px;
    }
}

.w-gap-lg {
    margin-top: 25px;

    @include respond-from(sm) {
        margin-top: 30px;
    }

    @include respond-from(md) {
        margin-top: 40px;
    }
}

.w-gap-xl {
    margin-top: 25px;

    @include respond-from(sm) {
        margin-top: 35px;
    }

    @include respond-from(md) {
        margin-top: 50px;
    }
}

//--------------------------------------------------GAPS END----------------------------------------------//

.txt-colored {
    font-size: 24px;
    font-weight: bold;
    color: #1BD895;
    text-transform: uppercase;
}
