mixin footer()
    footer.footer

        .footer__wrap
            ul.footer__list
                li.footer__link
                    a(href="/refund.html") Refund policy
                li.footer__link
                    a(href="/privacy.html") Privacy Policy
                li.footer__link
                    a(href="/terms.html") Terms & Conditions
