.footer {
    background: #161616;

    &__wrap {
        width: 100%;
        max-width: 867px;
        margin: 0 auto;

    }

    &__list {
        @extend %ul-reset;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

    }

    .footer__link a {
        font-size: 12px;
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }

}