include ../components/common/head
include ../components/common/include-js
include ../components/common/img-svg

include ../components/%=component_header=%/header/header

doctype html
html(class="no-js" lang="ru")
    head
        +head
    body
        .__cl-w-outer___
            +header
            block content
        +include-js

        block scripts
