extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                +grid
            h1.empty-font h1 empty-font


            .text-center Form
            .center
                +form

            .img-left-text
                .img-left-text__img
                    img(src="static/img/content/avocado.svg" alt="")
                .img-left-text__wrapper
                    .img-left-text__text-wrap
                        .img-left-text__text-title Italian Cuisine
                        .img-left-text__text Traditional Italian cuisine is known all over the world, thanks to dishes such as pizza and spaghetti. Very diverse and regional, this direction in cooking is rich in its traditional dishes, so it offers a large field for culinary research. Italian cuisine gained its taste with historical processes, spiced with the cultural influence of the Romans, Greeks, Arabs, and other peoples who once inhabited Italy. Immerse yourself in this mix, give free rein to the love of spices, exotic fruits, and vegetables, or cook fish and seafood as only you can. Create your unique recipe and stand out with exceptional culinary skills where tradition leaves much room for creativity!
                        .img-left-text__text-price Cost: 759€
                    .img-left-text__text-btn
                        button.btn.popup-btn(type="button") Buy Now

            .img-right-text
                .img-right-text__wrapper
                    .img-right-text__text-wrap
                        .img-right-text__text-title Italian Cuisine
                        .img-right-text__text Traditional Italian cuisine is known all over the world, thanks to dishes such as pizza and spaghetti. Very diverse and regional, this direction in cooking is rich in its traditional dishes, so it offers a large field for culinary research. Italian cuisine gained its taste with historical processes, spiced with the cultural influence of the Romans, Greeks, Arabs, and other peoples who once inhabited Italy. Immerse yourself in this mix, give free rein to the love of spices, exotic fruits, and vegetables, or cook fish and seafood as only you can. Create your unique recipe and stand out with exceptional culinary skills where tradition leaves much room for creativity!
                        .img-right-text__text-price Cost: 759€
                    .img-right-text__text-btn
                        button.btn.popup-btn(type="button") Buy Now
                .img-right-text__img
                    img(src="static/img/content/avocado.svg" alt="")

            h2 Cards
            +cards
