extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            +new-form
            section.wrapper
                .wrapper__content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id porta urna, in dictum nisi. Nunc turpis nibh, condimentum nec ligula nec, facilisis tristique ipsum. Vestibulum volutpat elit vitae sagittis blandit. Nam in neque nunc. Sed ultrices posuere ornare. Quisque hendrerit elit lacus, et tincidunt dui efficitur quis. Donec pellentesque feugiat magna vitae iaculis. Pellentesque aliquam est et hendrerit ultricies. Praesent nunc sapien, sagittis et eleifend et, vestibulum non ex. Quisque tincidunt enim nec nunc tempus vestibulum. In ac dolor ut orci accumsan venenatis sit amet pellentesque est. Donec aliquet laoreet velit a suscipit. Nunc luctus lectus sit amet nibh aliquam sodales. Donec at dolor a eros dapibus mollis. Sed suscipit felis non sem mattis dictum.

                    p Phasellus eu orci at tellus sagittis vestibulum. Nam dolor diam, luctus sit amet velit ac, faucibus eleifend lorem. Donec vitae velit ligula. Phasellus et pulvinar leo. Integer posuere neque sit amet nisi vehicula sollicitudin. In consectetur massa pretium mi iaculis dapibus. Sed sapien urna, faucibus vitae pellentesque gravida, eleifend at ligula. Mauris fringilla orci quis est feugiat, at sagittis purus venenatis.

                    p Duis nec tortor velit. Sed ornare sit amet mi quis euismod. Suspendisse eu leo pharetra, pharetra tellus et, consectetur est. Vestibulum aliquet tincidunt pharetra. Donec laoreet eros ut sodales tristique. Sed vitae enim pharetra, rutrum risus a, mollis diam. Ut sit amet nisl turpis. Cras ultricies accumsan diam ac congue. Fusce vitae metus quam. Vivamus ut diam in elit efficitur consequat vitae ac ante. Phasellus volutpat massa ut nibh ullamcorper, ac euismod est placerat. Nam ac sodales lorem. In fringilla neque felis, vel mollis magna luctus pharetra.

                    p Fusce consequat eros augue, quis mattis lorem dignissim vel. Ut a justo non erat commodo sodales ac vitae ligula. Etiam a porttitor felis, vitae tincidunt nisi. Aenean accumsan ligula sed tellus condimentum, nec viverra purus convallis. Nam congue tortor et lorem cursus commodo. Sed cursus orci vitae elit convallis, in eleifend orci tristique. Sed a sapien quis tellus lacinia rhoncus eu ut ante. Etiam hendrerit sagittis sem sed consectetur. Vivamus nisi risus, eleifend et efficitur vitae, commodo vel sapien. Proin id tempor dui, nec pharetra erat. Morbi bibendum iaculis justo.

                    p Duis ut mauris placerat, ultrices mi non, dignissim urna. Fusce nec eleifend ex, eu pulvinar lorem. Nunc euismod, tellus ac iaculis convallis, erat elit feugiat magna, quis lobortis leo est id purus. Sed euismod est magna, eget fermentum erat laoreet eu. Fusce dignissim quam dui, ullamcorper egestas lacus varius sit amet. Vivamus mattis, turpis sed lacinia ullamcorper, sem tellus sollicitudin augue, non dignissim dui ex eu lorem. Nam bibendum placerat efficitur. Quisque quam dolor, porta et egestas nec, dictum nec mi. Pellentesque in lacus placerat, pretium purus nec, pharetra nulla. Nam vel consequat lorem.

                    p Integer eu convallis elit. Nullam pretium magna vitae mauris iaculis, non posuere leo porta. Pellentesque facilisis blandit aliquam. Nulla dictum, justo in convallis feugiat, dolor massa tincidunt nunc, ac ullamcorper lorem ex ut orci. Ut nec lacus ac orci porttitor tempus. Duis vel laoreet ligula. Quisque sed enim sed enim luctus tempor. Nulla quis hendrerit arcu, ac iaculis neque. Nulla facilisi.

                    p Donec maximus fringilla neque, at ultrices augue. Integer consectetur interdum orci, in dignissim nibh scelerisque et. Mauris egestas odio eget felis cursus, ac suscipit ipsum scelerisque. Vestibulum felis sapien, dapibus auctor augue eget, condimentum tincidunt libero. Ut aliquam et dui ullamcorper vulputate. Sed auctor nisi sed lorem pellentesque, mattis convallis nibh ultricies. Fusce dictum arcu ac malesuada dignissim. Suspendisse ullamcorper pharetra tortor ut porta. Morbi ac enim quam. Proin finibus dignissim nibh, at sagittis leo finibus ut. Phasellus sagittis efficitur ligula, eget imperdiet est imperdiet ac. Aenean commodo scelerisque quam, et vulputate nibh egestas non. Etiam blandit velit sit amet ornare semper. Proin fringilla ac sem eget convallis. Mauris ac odio metus.

                    p Nullam mattis diam urna, a consectetur lectus ultricies eu. Praesent molestie diam et vulputate condimentum. Donec egestas quis enim quis euismod. Donec elementum mollis vehicula. Morbi dictum est a maximus aliquam. Aenean vulputate rhoncus euismod. Pellentesque sed lorem eu purus imperdiet ornare eu at eros. Donec tristique nisl condimentum egestas fringilla. Sed placerat nec diam a sodales. Vivamus ante metus, volutpat sed dictum eget, gravida eget mi. Vivamus in nunc ac nulla sollicitudin ornare. Curabitur nec magna blandit, lobortis libero at, egestas leo. Donec tempor sem malesuada eros pulvinar, ac condimentum arcu blandit. Sed justo tellus, vehicula sed massa at, aliquet blandit nisl. Donec in porta felis, sit amet condimentum enim.

                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam ut dignissim diam. Nulla ipsum dui, facilisis nec fermentum nec, varius sed quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed luctus tortor. Suspendisse vulputate ligula ut neque viverra hendrerit. Pellentesque eget mollis sem. Quisque ornare non purus vel vestibulum.

                    p Etiam at lacus nec dolor rutrum egestas. Praesent quis ullamcorper tortor, quis lacinia sem. Proin aliquet purus eget tortor blandit vulputate. In malesuada, sem a ullamcorper posuere, dolor ex mollis turpis, ac pretium odio orci nec mi. Fusce quis sapien eget dui cursus porttitor a eu neque. In pharetra laoreet metus, quis cursus turpis tempor non. Nam rhoncus, velit a sagittis convallis, tellus eros euismod leo, consequat iaculis velit justo non nisi.

                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nec eros bibendum, commodo sem eu, consequat sapien. Phasellus quis pellentesque tortor, eu rutrum ligula. Nunc risus dolor, viverra ac nulla ac, egestas rhoncus erat. Sed consectetur tellus id quam egestas, vel euismod tellus vulputate. Sed neque lectus, tristique viverra dui sed, ultricies convallis massa. Aliquam rhoncus ex quam, at faucibus est venenatis vel. Fusce vel sollicitudin orci. Nullam in purus sagittis neque commodo molestie semper vel ante. Vestibulum pharetra venenatis imperdiet. Proin accumsan turpis id tincidunt tristique. Nullam ac ullamcorper sapien. Suspendisse malesuada venenatis massa sit amet posuere. Duis quam neque, aliquet ac ipsum sed, sodales egestas leo. Vestibulum ornare auctor sapien sed volutpat.

                    p Donec elit ligula, feugiat ac dapibus non, sagittis in tellus. Nam in justo tristique, pharetra felis eget, finibus erat. Sed quis ligula sed enim convallis pharetra quis et risus. Donec in cursus eros. Pellentesque euismod mi sed leo fringilla elementum. Proin mattis congue urna quis vehicula. Quisque tincidunt ullamcorper mi, non varius enim lacinia quis.

                    p Mauris mi felis, lacinia sed auctor at, mollis id massa. Vivamus ex nibh, rutrum et velit non, aliquam interdum urna. Ut a vestibulum tortor. Sed ut nisi orci. Suspendisse molestie elementum odio at aliquet. Pellentesque sit amet sem at quam congue congue ac quis leo. Donec in tellus consequat, gravida libero nec, lobortis elit. Quisque pellentesque posuere nibh, eget eleifend nisl posuere in. Ut rutrum dictum ligula, quis maximus dolor venenatis a. Vestibulum non pellentesque eros. Nullam purus erat, lacinia sit amet pulvinar a, iaculis vulputate ipsum. Sed at lorem eu ipsum gravida ultrices ac ac felis. Praesent sagittis condimentum commodo.

                    p In aliquam scelerisque odio sed suscipit. In posuere faucibus ligula, dapibus cursus lacus ullamcorper ac. Donec ut purus sit amet dui cursus aliquam. Morbi lorem purus, vestibulum in eleifend vel, interdum dictum leo. Proin non turpis id risus vehicula rutrum. Morbi cursus lorem neque, nec tincidunt enim mattis at. Aenean consequat maximus convallis. Curabitur eget turpis in ligula finibus facilisis. Cras mi ligula, malesuada ut efficitur vitae, tincidunt in turpis. Suspendisse pulvinar interdum mi in sollicitudin. Integer scelerisque sem nec sem convallis vulputate ut vel velit. Nunc elementum condimentum dui, nec gravida sem porttitor a. Curabitur sagittis sapien magna, eget tincidunt magna dapibus eu.

                    p Praesent id sem vel dui dapibus ullamcorper eget at turpis. Suspendisse sollicitudin luctus ante, non feugiat quam ultricies ac. Aenean ac dolor et est sagittis consequat non eget dui. Vestibulum vehicula lectus eu cursus egestas. Integer ligula diam, convallis vitae hendrerit et, maximus id purus. Suspendisse sed enim ac justo auctor mollis sit amet ut arcu. Vestibulum ac nisl vitae elit vestibulum sodales. Proin dapibus diam eros, a pellentesque leo condimentum sed. Donec ultricies rhoncus sem, eget rutrum nisl congue ac. Donec vel justo lacus. Vivamus non neque ac justo commodo tristique. Aliquam ultrices semper malesuada.

                #side
                    #sticky-sidebar
                        h2  Sticky Sidebar


            .w-gap-lg


            .w-gap-lg
                +grid
            h1.empty-font h1 empty-font


            .text-center Form
            .center
                +form

            .img-left-text
                .img-left-text__img
                    img(src="static/img/content/avocado.svg" alt="")
                .img-left-text__wrapper
                    .img-left-text__text-wrap
                        .img-left-text__text-title Italian Cuisine
                        .img-left-text__text Traditional Italian cuisine is known all over the world, thanks to dishes such as pizza and spaghetti. Very diverse and regional, this direction in cooking is rich in its traditional dishes, so it offers a large field for culinary research. Italian cuisine gained its taste with historical processes, spiced with the cultural influence of the Romans, Greeks, Arabs, and other peoples who once inhabited Italy. Immerse yourself in this mix, give free rein to the love of spices, exotic fruits, and vegetables, or cook fish and seafood as only you can. Create your unique recipe and stand out with exceptional culinary skills where tradition leaves much room for creativity!
                        .img-left-text__text-price Cost: 759€
                    .img-left-text__text-btn
                        button.btn.popup-btn(type="button") Buy Now

            .img-right-text
                .img-right-text__wrapper
                    .img-right-text__text-wrap
                        .img-right-text__text-title Italian Cuisine
                        .img-right-text__text Traditional Italian cuisine is known all over the world, thanks to dishes such as pizza and spaghetti. Very diverse and regional, this direction in cooking is rich in its traditional dishes, so it offers a large field for culinary research. Italian cuisine gained its taste with historical processes, spiced with the cultural influence of the Romans, Greeks, Arabs, and other peoples who once inhabited Italy. Immerse yourself in this mix, give free rein to the love of spices, exotic fruits, and vegetables, or cook fish and seafood as only you can. Create your unique recipe and stand out with exceptional culinary skills where tradition leaves much room for creativity!
                        .img-right-text__text-price Cost: 759€
                    .img-right-text__text-btn
                        button.btn.popup-btn(type="button") Buy Now
                .img-right-text__img
                    img(src="static/img/content/avocado.svg" alt="")

            h2 Cards
            +cards
